.signup-container {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;

    .form-control {
        margin: 12px 0px;
    }

    .signin-link {
        text-align: right;
        margin-top: 8px;
    }
}
